%div[graph, :placeholder]{:style => "width: 600px; height: 300px; position: relative;"}
:javascript
	graph_#{graph.id} = new WGraph($('#placeholder_graph_#{graph.id}'), #{graph.id}, #{graph.graph_lines.map{|l| {:id => l.id}}.to_json}, 'day', '#{graph.stack_type}');
